@placeholder-color: rgba(0, 0, 0, 0.54);
@transiton-time: 0.2s;
@line-height: 1px;

.container {
  margin: 12px 0;
  position: relative;
  .input {
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 6px;
    font-size: 16px;
    z-index: 3;
    border-bottom: @line-height solid @placeholder-color;
    &::placeholder {
      opacity: 0;
    }
    &:focus,//# input focus的情况下
      &:not(:placeholder-shown) {
      // # input的placeholder不显示的时候
      &:not(.bordered) {
        border-bottom-color: transparent;
        ~ .line {
          // # ~表示后面的 line 兄弟节点
          // width: 100%;
          &::before {
            width: 50%;
          }
          &::after {
            width: 50%;
          }
        }
      }

      ~ .label {
        color: gray;
        transform: translateY(-28px) scale(0.95);
      }
    }
  }
  .line {
    width: 100%;
    height: @line-height;
    // background: #d23669;
    background: transparent;
    transition: width @transiton-time ease-in-out;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      right: 50%;
      width: 0;
      height: @line-height;
      background: #d23669;
      transition: width @transiton-time ease-in-out;
    }
    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 50%;
      width: 0;
      height: @line-height;
      background: #d23669;
      transition: width @transiton-time ease-in-out;
    }
  }
  .label {
    position: absolute;
    left: 6px;
    bottom: 10px;
    font-size: 15px;
    color: gray;
    transition: background @transiton-time ease-in-out;
    z-index: 2;
  }
  .bordered {
    border-radius: 2px;
    border: @line-height solid @placeholder-color;
    &:focus {
      border: @line-height solid #d23669;
    }
    transition: color @transiton-time ease-in-out;
    ~ .label {
      background: #fff;
    }
  }
}
